body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, darkred, #003366);
}

.flag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.stripes {
    height: 400px;
    width: 800px;
}

table, td {
    border: solid 0px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: beige;
}

tr:nth-child(even) {
    background: darkred;
}

.stars {
    width: 350px;
    height: 185px;
    margin-top: -215px;
    margin-left: -450px;
    position: absolute;
    float: left;
}
